Repository DataBiosphere/data-store, pull requests merged in 2020-03, with the labels that each got.

#133 DSS Wrappers: DynamoDB update
  dss/collections/owner_lookup.py
  dss/dynamodb/__init__.py
  dss/subscriptions_v2/__init__.py
  dss/util/async_state.py
  tests/test_utils.py
Labels: enhancement

#151 [Enable Auth0 Part 4/4] DSS Config: Add config method to get Google service account email
  dss/config.py
  tests/test_indexer.py
Labels: auth

#149 [Enable Auth0 Part 3/4] DSS Auth: Fix token generation for tests before unleashing Auth0
  dss/config.py
  tests/__init__.py
  tests/test_indexer.py
Labels: auth

#148 [Enable Auth0 Part 2/4] DSS Auth: Fix decorators before unleashing Auth0
  dss/api/collections.py
  dss/api/files.py
  dss/api/subscriptions_v1.py
  dss/api/subscriptions_v2.py
  dss/config.py
  dss/util/auth/auth0.py
  tests/__init__.py
  tests/test_indexer.py
Labels: auth

#146 [Enable Auth0 Part 1/4] DSS Auth: Unleash the Auth0 backend
  dss/api/collections.py
  dss/api/files.py
  dss/api/subscriptions_v1.py
  dss/api/subscriptions_v2.py
  dss/config.py
  dss/util/auth/auth0.py
  environment
  tests/__init__.py
  tests/test_indexer.py
Labels: auth

#155 Remove delete security decorators from delete collections endpoints
  dss/api/collections.py
Labels: auth

#156 Fix error code in Authorize param check, and disable group tests for Auth0
  dss/util/auth/auth0.py
  dss/util/auth/authorize.py
  tests/infra/auth_tests_mixin.py
Labels: auth

#150 [Auth0 FLAC 3/3] DSS Auth: Flac Testing
  dss/dynamodb/__init__.py
  dss/operations/flac.py
  dss/util/auth/auth0.py
  tests/test_auth.py
  tests/test_operations.py
  tests/test_utils.py
Labels: auth, dss_ops, enhancement

#144 [Auth0 FLAC 2/3] DSS Ops: Flac Support
  dss/dynamodb/__init__.py
  dss/operations/flac.py
  dss/util/auth/auth0.py
  scripts/dss-ops.py
  tests/test_auth.py
  tests/test_operations.py
  tests/test_utils.py
Labels: auth, dss_ops, enhancement

#152 Assert functions should assert things and raise exceptions
  dss/util/auth/auth0.py
  tests/test_auth.py
Labels: auth

#141 [Auth0 FLAC 1/3] DSS Auth: flac lookups
  dss/dynamodb/__init__.py
  dss/operations/flac.py
  dss/util/auth/auth0.py
  scripts/dss-ops.py
  tests/test_auth.py
  tests/test_operations.py
  tests/test_utils.py
Labels: auth

#160 Add additional "group" method to Auth0 backend to fix integration tests
  dss/api/collections.py
  dss/api/subscriptions_v1.py
  dss/api/subscriptions_v2.py
  dss/util/auth/auth0.py
  tests/test_auth.py
Labels: auth

#159 DSS Infra: GCF api version
  scripts/deploy_gcf.py
Labels: dss_ops

#164 verbose logs in chalice
  environment
Labels: enhancement
